@use "../abstracts/mixins" as *;

.crew-main {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
  --flow-space: 2rem;
  picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
  }

  & > .dot-indicators {
    grid-area: tabs;

    @include respond(desk-tabLand) {
      justify-self: start;
    }
  }

  & > .crew-details {
    grid-area: content;

    @include respond(desk-tabLand) {
      justify-self: start;
    }

    h2 {
      opacity: 0.5;
    }
  }

  @include respond(tabLand-tabport) {
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";

    padding-bottom: 0;

    picure {
      //   max-width: 80%;
    }
  }

  @include respond(desk-tabLand) {
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 40rem) minmax(0, 20rem) minmax(
        1rem,
        1fr
      );
    justify-items: start;
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". tabs image .";

    picure {
      max-width: 90%;
      align-self: end;
    }
  }
}

.crew-name {
  width: max-content;
}
