@use "../abstracts/mixins" as *;

.header {
  //   width: 138.5rem;
  //   height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0rem 0rem 5.5rem;

  &__line {
    // width: 48%;
    width: 37vw;
    height: 0.1rem;
    background-color: var(--color-white);
    opacity: 0.25;
    transform: translateX(5rem);
    z-index: 1;
  }

  &__logo-link {
  }

  &__logo {
    display: block;
    aspect-ratio: 1;
  }
}
