@use "../abstracts/mixins" as *;

nav {
  order: 2;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;

  @supports (backdrop-filter: blur(4.7742rem)) {
    & {
      background: hsl(var(--clr-white) / 0.04);
      backdrop-filter: blur(4.7742rem);
    }
  }
  a {
    text-decoration: none;

    & > span {
      font-weight: 700;
      margin-right: 0.5em;
    }
  }

  @include respond(phone) {
    // --underline-gap: 2rem;
    // list-style: none;
    --underline-gap: 0.5rem;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 10;
    transform: translateX(100%);
    transition: all 500ms ease-in-out;

    &.underline-indicators > .active {
      border: 0;
    }
  }

  @include respond(tabLand-tabport) {
    padding-inline: clamp(3rem, 10vw, 7rem);
  }

  @include respond(minAndMax) {
    a > span {
      display: none;
    }
  }

  @include respond(desk-tabLand) {
    margin-block: 2rem;
  }
}

.mobile-nav-toggle {
  display: none;

  @include respond(phone) {
    display: block;
    position: absolute;
    z-index: 20;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url("/dist/assets/shared/icon-hamburger.svg");
    width: 1.5rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    border: 0;

    &:focus-visible {
      outline: 5px solid white;
      outline-offset: 5px;
    }
  }
}
