@use "../abstracts/mixins" as *;

.technology-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
  gap: 2rem;

  @include respond(tabLand-tabport) {
    gap: 3.75rem;
    padding-bottom: 6.5rem;
  }

  @include respond(desk-tabLand) {
    display: grid;
    row-gap: 1.6rem;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 65rem) minmax(1rem, 1fr);
    grid-template-areas:
      ". title title. "
      " . content content content"
      " . content content content";
  }

  &__heading {
    @include respond(tabLand-tabport) {
      align-self: start;
    }
    @include respond(desk-tabLand) {
      grid-area: title;
    }
  }
}

.tech-container {
  flex-direction: column;
  --gap: 2rem;
  align-items: center;
  text-align: center;
  width: 100%;

  @include respond(tabLand-tabport) {
    --gap: 3.6rem;
  }

  @include respond(desk-tabLand) {
    grid-area: content;
    flex-direction: row;
    justify-content: space-between;
    align-self: start;
  }
}

.numbs-list {
  --gap: 1rem;
  align-items: center;
  justify-content: center;
  order: 1;

  @include respond(desk-tabLand) {
    flex-direction: column;
    order: 0;
    --gap: 2rem;
  }

  &__item {
    border-radius: 50%;
    color: hsl(var(--clr-white));
    background: transparent;
    border: 1px solid hsl(var(--clr-white) / 0.25);
    text-align: center;
    padding: 0 1rem;
    cursor: pointer;
    aspect-ratio: 1;

    @include respond(tabLand-tabport) {
      padding: 0 1.5rem;
    }
    @include respond(desk-tabLand) {
      padding: 0 2rem;
    }
    // margin: 0 0.2rem;
    // display: inline-block;

    &.activeBtn {
      background-color: hsl(var(--clr-white));
      color: hsl(var(--clr-dark));
      border: none;
    }

    &:hover {
      border-color: hsl(var(--clr-white), 1);
    }
  }
}

.tech-info {
  display: none;
  padding-inline: 1.5rem;
  flex-direction: column;
  transform: translateY(-1rem);
  // transform: translateX(-2rem);
  order: 2;

  // margin: auto;

  &.current {
    display: flex;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  &__name {
    // width: max-content;
  }

  &__about {
    margin-top: 1.1rem;
    // max-width: 27.75rem;
    max-width: 50ch;
    color: hsl(var(--clr-light));
  }
  @include respond(tabLand-tabport) {
    // max-width: 100ch;
  }

  @include respond(desk-tabLand) {
    order: 1;
    text-align: start;
    // width: 29.375rem;

    &__name {
      width: max-content;
    }
  }
}

.tech-image {
  // align-self: stretch;
  max-width: 100%;

  @include respond(desk-tabLand) {
    order: 2;
  }
}

.tech-pic {
  width: 100%;
  @include respond(desk-tabLand) {
    max-width: 100%;
  }
}
